<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>访问出错500</title>
	<link rel="stylesheet" type="text/css" href="static/css/erro_style.css" />
</head>
 
<body style="background:#B0B0B0;">
 
<!---404--->
<div class="error_new_bg pr">
	<div class="error_new_content">
		<div class="error_new pa">
			<div class="fl error_new_left"><img src="static/pic/erro.png"></div>
			<div class="fl error_new_right">
				<div class="error_detail">
					<p class="error_p_title">哎呦~ 出毛病了!</p>
					<p class="error_p_con">※ 别急，赶紧找我们处理。</p>
					<p class="error_p_con">※ 可以通知QA!</p>
					<p class="error_p_con">※ 感谢您的访问，帮我们找到了个错误页面！</p>
				</div>
 
				<p class="error_new_right_btn pr">
					<a href="/" class="type-2 type-3">
						<i> 返回首页</i>
						<i> 返回首页 </i>
						<i> 返回首页 </i>
						<i> 返回首页 </i>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
 
</body>
</html>
