    <colgroup>
        <col width=3%>
        <col width=8%>
        <col width=15%>
        <col width=5%>
        <col width=5%>
        <col width=5%>
        <col width=8%>
    </colgroup>
    <thead>
    <tr>
        <th style="text-align: center; font-weight: bold ;font-size:18px">接口ID</th>
        <th style="text-align: center; font-weight: bold ;font-size:18px">接口名称</th>
        <th style="text-align: center; font-weight: bold ;font-size:18px">接口地址</th>
        <th style="text-align: center; font-weight: bold ;font-size:18px">归属项目</th>
        <th style="text-align: center; font-weight: bold ;font-size:18px">请求方式</th>
        <th style="text-align: center; font-weight: bold ;font-size:18px">参数</th>
        <th id = 't11' style="text-align: center; font-weight: bold ;font-size:18px">操作</th>
    </thead>
    <tbody>
    {% for i in apidata2 %}
    <tr class="table-item">
        <td style="text-align: center">{{i[0]}}</td>
        <td style="word-break:break-all">{{i[1]}}</td>
        <td style="word-break:break-all">{{i[2]}}</td>
        <td style="text-align: center">{{i[3]}}</td>
        <td style="text-align: center">{{i[4]}}</td>
        <td style="text-align: center">{{i[5]}}</td>
        <td id='t111'>
            {% if i[6] == 0 %}
            <span data-id={{i[0]}} class="layui-btn" onclick="apistatus(this)">启用</span>
            {% else %}
            <span data-id={{i[0]}} class="layui-btn layui-btn-danger" onclick="apistatus(this)">停用</span>
            {% endif %}
            <span data-id={{i[0]}} class="layui-btn " onclick="editapi(this)">编辑</span>
            <span data-id={{i[0]}}  class="layui-btn" onclick="delapi(this)">删除</span>
        </td>
    </tr>
    {% endfor %}
    </tbody>