{% block head %}
<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title >测试管理系统</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/layui/css/layui.css">
        <script src="static/layui/layui.js"></script>
    <!--     <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script> -->
        <script type="text/javascript" src="static/js/tool_p.js"></script>
    </head>
{% endblock head %}


    {% block left %}
    
        <div class="layui-layout-admin">
            <!-- 顶部 -->
            <div class="layui-header">
                <div style="display: inline-block">
                    <a href="/"  style="margin-left: 40px;top:0;width:200px;height:100%;line-height:60px;text-align:center;font-size:16px;font-weight:bold;color:#FFFFFF;">卡家测试管理平台</a>
                </div>
                <div style="display: inline-block;float: right">
                    <ul class="layui-nav">
                      <li id="nolog" class="layui-nav-item" lay-unselect="">
                        <a  href="javascript:;" id="username">
                        </a>
                        <dl id="layui-nav-child" class="layui-nav-child" style="text-align: left">
                          <dd><a href="/logout" onclick="logout()">退出</a></dd>
                        </dl>
                      </li>
                    </ul>
                </div>
            </div>

            <!-- 左侧 -->
            <div class="layui-side layui-bg-black" id="menu1">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree"  lay-filter="test" id="menu">

                        <!-- 左侧栏目配置 -->

                        <!-- {% set left_list = {'资源管理':{'测试设备': 'http://127.0.0.1:5000/device','排期': 'http://127.0.0.1:5000/scheduling','bug统计': 'http://127.0.0.1:5000/bug_statistics','APP自动化报告': 'http://127.0.0.1:5000/appreport','卡车之家业务信息表': 'http://127.0.0.1:5000/project_information','抓虫节排行榜': 'http://127.0.0.1:5000/grab_bug','BUG率计算': 'http://127.0.0.1:5000/bug_calculate','BUG率统计': 'http://127.0.0.1:5000/calculate','检查点': 'http://127.0.0.1:5000/testcase'},'测试工具':{'YApi':'http://127.0.0.1:5000/yapi','响应时间测试':'http://127.0.0.1:5000/time_test'},'接口监控':{'接口管理':'http://127.0.0.1:5000/monitor/apilist','任务管理':'http://127.0.0.1:5000/monitor/task_list','结果查询':'http://127.0.0.1:5000/monitor/report'}} %}


                        {% for name,n_list in left_list.items() %}
                        <li class="layui-nav-item layui-nav-itemed"><a class="" href="javascript:;">{{name}}</a>
                            <dl class="layui-nav-child">
                                {% for i,o in n_list.items() %}
                                <dd><a href={{o}}>{{i}}</a></dd>
                                {% endfor %}
                            </dl>
                        </li>
                        {% endfor %} -->

                    </ul>
                </div>
            </div>
        <script>
            layui.use('element', function(){
              var element = layui.element;
              is_menu();
              get_menu();
              set_username();
              element.render();
});
        </script>
    {% endblock left %}


    {% block right %}
            <!-- 页面右侧部分 -->
        <div style="padding: 20px;" class="layui-body"/>
    {% endblock right %}
    
    </body>

</div>
 <div id="test1"></div>

</html>
