{% extends "base.html" %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>测试管理系统</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="../static/layui/css/layui.css">
        <script src="../static/layui/layui.js"></script>
    <!--     <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script> -->
        <script type="text/javascript" src="../static/js/tool_p.js"></script>
    </head>
{% endblock head %}
{% block left %}
	{{ super() }}
{% endblock left %}
{% block right %}
	{{ super() }}
	<!-- 修改name（页面名称） -->
	{% set name = "任务管理" %}
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>{{name}}</legend>
	</fieldset>
	<!-- 页面私有部分 -->
<div class="layui-form" >
<span class="layui-btn layui-btn-normal" id="task_add" name="task_add" onclick="task_add(this)">新增任务</span>
  <table class="layui-table" style="width: 50% " >
    <colgroup>
        <col width="100">
      <col width="150">
      <col width="100">
      <col width="100">
      <col width="400">
    </colgroup>
    <thead>
      <tr>
          <th><div align="center">任务id</div></th>
        <th><div align="center">任务名称</div></th>
        <th><div align="center" >频率</div></th>
        <th><div align="center">状态</div></th>
        <th><div align="center">操作</div></th>
      </tr>
    </thead>
    <tbody>
      {% for i in task_list %}
        <tr>
        <td><div align="center" >{{i[0]}}</div></td>
          <td><div align="center">{{i[1]}}</div></td>
          <td style="width:10px;">{{i[3]}}分钟/次</td>
            <td style="word-break:break-all;"><div>{{i[4]}}</div></td>
{#        <td>#}
{#                <label class="layui-form-label">开关-默认关</label>#}
{#    <div class="layui-input-block">#}
{#      <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">#}
{#    </div>#}
{#        </td>#}
          <td>
            {% if i[4] == 1 %}
              <span class="layui-btn layui-btn-normal" id="test_button" name="status" onclick="task_status(this)">停用</span>
            {% else %}
              <span class="layui-btn layui-btn-warm" id="test_button" name="status" onclick="task_status(this)">启用</span>
            {% endif %}
              <span class="layui-btn" id="del_button" name="status1" onclick="task_edit(this)">编辑</span>
              <span class="layui-btn layui-btn-normal" id="del_button" name="status1" onclick="task_res(this)">查看结果</span>
              <span class="layui-btn layui-btn-danger" id="del_button" name="status1" onclick="task_del(this)">删除</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

    <script>
function task_add(e){
 window.location.href="http://192.168.2.92:5001/monitor/task_add";
}
</script>
{% endblock right %}
<!-- 此模板现有部分，除页面名称外，其他均不可编辑 -->