{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock head %}
{% block left %}
	{{ super() }}
{% endblock left %}
{% block right %}
	{{ super() }}
	<!-- 修改name（页面名称） -->
	{% set name = 'ReTime Test' %}
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>{{name}}</legend>
	</fieldset>
	<!-- 页面私有部分 -->
	<body>
		<div >
			<div style="float:left;" class="layui-form" action="" width="5000">
				<div class="layui-form-item">
					<label class="layui-form-label">验证链接</label>
					<div class="layui-input-inline">
			 			<input id="test_url" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-input-inline">
		      				<button class="layui-btn" lay-filter="demo1" onclick=retime()>测试</button>
		  			</div>
		  		</div>
		  		<div class="layui-form-item" style="margin:50px 20px 0px 20px">
		  			<div class="layui-col-md6" style="width:300px;">
						<div class="layui-card">
							<div class="layui-card-header" style="font-weight:bold;font-size:20px">结果</div>
							<div class="layui-card-body" id="time">
							
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="float:right;">
	  			<iframe name="myiframe" id="myrame" src={{url}} style="zoom:100%;margin-right:10px"  frameborder="0" align="right"  scrolling="" width="1024" height="680" ></iframe>
	 		</div>
		</div>
	</body>



<!-- 	                	
			// var start_time = (new Date()).getTime();
			// console.log('开始时间',start_time)
			// var end_time = "" ;
			// var t = setInterval(function(){
			// if(document.readyState=="complete"){aa();}
			// },1)console.log('首屏图片加载完成 : ',window.lastImgLoadTime - window.performance.timing.navigationStart); //在最后一张图出来的时候打时间点
						console.log('HTML加载完成 : ',window.loadHtmlTime - window.performance.timing.navigationStart);//在HTML后打时间点
						console.log('首屏接口完成加载完成 : ',Report.SPEED.MAINCGI - window.performance.timing.navigationStart);//在首屏的接口打时间点
						console.log('接口完成加载完成 : ',Report.SPEED.LASTCGI - window.performance.timing.navigationStart);//在所有接口打时间点
	                	var t = setInterval(function(){
						if(document.readyState=="complete"){aa();}
						},1) -->


{% endblock right %}
<!-- 此模板现有部分，除页面名称外，其他均不可编辑 -->
