{% extends "base.html" %}
{% block head %}
	{{ super() }}
    <script type="text/javascript" src="static/js/echarts.js"></script>
    <script type="text/javascript" src="static/js/echarts.min.js"></script>
    <script type="text/javascript" src="static/js/china.js"></script>
{% endblock head %}
{% block left %}
	{{ super() }}
{% endblock left %}
{% block right %}
	{{ super() }}
	<!-- 修改name（页面名称） -->
	{% set name = '微信好友分析' %}
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>{{name}}</legend>
	</fieldset>
	<!-- 页面私有部分 -->
        <button class="layui-btn" onclick="lc()">获取二维码</button>
        <button class="layui-btn" onclick="refurbish()">刷新</button>
        <button class="layui-btn" onclick="ec()">强制退出</button>
    <button class="layui-btn" onclick="sex()">统计性别</button>
{#    <div><img src="/static/pic/QR.png"></div>#}
    <img src="" id="oImg" style='display:none' width="160px" hight="200px">

<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="sex" style="width: 600px;height:400px;"></div>
    <div id="city" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('sex'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["其他","男","女"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data:[]

                {#data:[30, 12, 4]#}
            }]
        };
        var option1 = {
    title : {
        text: '某站点用户访问来源',
        subtext: '纯属虚构',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。

        function  lc()
    {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        {#var data ='{  "url_id" :' + url_id + '}';#}
        xmlhttp.open("POST","login",true);
        xmlhttp.send();
        setTimeout(function(){
                    document.getElementById("oImg").src = "/static/pic/QR.png";
                    document.getElementById('oImg').style.display = "block";
        }, 3000)
}
        function refurbish()
        {
            var img_src="/static/pic/QR.png?"+Math.random()
            document.getElementById("oImg").src = img_src;
}
        function  ec()
    {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        {#var data ='{  "url_id" :' + url_id + '}';#}
        xmlhttp.open("POST","exit",true);
        xmlhttp.send();
        location.reload()
}
        function  sex()
    {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        {#var data ='{  "url_id" :' + url_id + '}';#}
        xmlhttp.open("POST","statistic",true);
        xmlhttp.send();

        xmlhttp.onreadystatechange = function()
        {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200 )
            {
            var c = JSON.parse(xmlhttp.responseText)
                {#alert(c)#}
                {#var obj = JSON.parse(xmlhttp.responseText)#}
                {#var data=obj['city']#}
                option.series[0].data= c.sex
                option1.series
                myChart.setOption(option);
                myChart.setOption(option1);

            }
        }

}
</script>

</body>

{% endblock right %}
<!-- 此模板现有部分，除页面名称外，其他均不可编辑 -->