{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock head %}
{% block left %}
	{{ super() }}
{% endblock left %}
{% block right %}
	{{ super() }}
	<!-- 修改name（页面名称） -->
	{% set name = 'YApi' %}
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>{{name}}</legend>
	</fieldset>
	<!-- 页面私有部分 -->
	<div>
		<div style="margin-left: 40%; margin-top: 2%">
			<a href="http://192.168.2.92:3000" target="view_window" class="layui-btn" >YApi入口</a>
			<a href="https://yapi.ymfe.org/documents/index.html" target="view_window" class="layui-btn layui-btn-normal" >使用教程</a>
			<a href="/download" class="layui-btn layui-btn-warm" download="chrome">插件下载</a>
			<a style="margin-left:  2%" href="https://www.jianshu.com/p/12ca04c61fc6" target="view_window"> 详细安装教程</a>
		</div>
		<img style="margin-left: 12%; margin-top: 10%" src="/static/pic/yapi.png"  alt="YApi" />
	</div>

{% endblock right %}